@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>Salaarararara</h1>
    <p>
<iframe width="640" height="360" src="https://www.youtube.com/embed/Hl9hBLMIEvw" title="Auto Ramprasad Performance | Extra Jabardasth | 1st March 2024 | ETV Telugu" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </p>
   </section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
